/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "foundation";
@import 'foundation-icons';
$active:#78ab4e;
$topbar-height: 305px;
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background-color:$active;
}
.top-bar-section li.active:not(.has-form) a:not(.button):hover{
  background-color:$active;
}
.second{
  height:$topbar-height;
  background-color:#78ab4e;
}
.fi-star{
  color:#ee3424;
}
.panel.callout{
  border-color:#fff;
}
footer{
  position:absolute;
  bottom:0px;
  color:#858585;
  background:#333333;
  height:250px;
}
.titleh{
  color:#f37320;
}
.fi-marker{
  color:#000;
}
#map-canvas{
  position:fixed;
}
.postfix{
  background-color:#ee3424;
}
